* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: linear-gradient(450deg, #2808dbd3, #330f7c);
}

.container {
    width: 100%;
    min-height: 100px;
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 400px;
    height: 525px;
    background: #fff;
    margin: 20px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    text-align: center;
    color: #010409;
    margin-bottom: 35px;
    font-size: 35px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

.row input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
}

.row input::placeholder {
    font-size: 18px;
    margin-top: 10px;

}

.row button {
    border: none;
    outline: none;
    padding: 16px 30px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #493d3d23;
    padding: 12px 15px;
    margin-bottom: 10px;
    border-radius: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    padding: 0;
}

.circle {
  width: 18px;
  height: 18px;
  border: 2px solid #ff5945;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
  vertical-align: middle;
}

.circle.completed {
  background-color: #ff5945;
}

.task-text {
    font-size: 16px;
    color: black;
}

.completed .task-text {
    text-decoration: line-through;
    text-decoration-color: #ff5945;
    text-decoration-thickness: 2px;  
}


.actions {
    display: flex;
    gap: 8px;
}

.edit-btn {
    background: #ff5945;
    border: none;
    color: white;
    padding: 8px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.delete-btn {
    background: #ff5945;
    border: none;
    color: white;
    padding: 8px 18px;
    border-radius: 20px;
    cursor: pointer;
}

.edit-btn:hover,
.delete-btn:hover {
    opacity: 0.85;
}

@media (max-width: 768px) {

  .todo-app {
    width: 95%;
    padding: 25px 15px 40px;
    margin: 40px auto;
  }

  .todo-app h2 {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .row {
    gap: 10px;
  }

  .row input {
    width: 100%;
    padding: 3px;
    font-size: 16px;
  }

  .row button {
    width: 29%;
    padding: 12px;
    font-size: 16px;
  }

  ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  .left {
    width: 100%;
  }

  .circle {
    width: 16px;
    height: 16px;
    border-width: 2px;
  }

  .task-text {
    font-size: 14px;
  }

  .completed .task-text {
    text-decoration-thickness: 1.8px;
  }

  .actions {
    width: 100%;
    justify-content: flex-end;
  }

  .edit-btn,
  .delete-btn {
    padding: 6px 14px;
    font-size: 14px;
  }
}
